<div class="padding">
    

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL-erbd04QacEbEY7ZXJ9F0tsC8dMQfOc&libraries=places"></script>
    

  <title>GeoVibes</title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="import" href="/components/supersonic/components/import.html">

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/webcomponentsjs/webcomponents.js"></script>

  <script src="/scripts/application.js"></script>
</head>
<body ng-app="SteroidsApplication">

<div class="padding" ng-controller="HomeController">

  <super-navbar>
    <super-navbar-title ng-bind='geoVibesTitle'>
    </super-navbar-title>

  </super-navbar>
    <h2>Search a location to check out the vibes.</h2>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="googleMap" style="width:100%;height:380px;"></div>
    <br>
    <div style="background-color:BlanchedAlmond;padding:10px">
  <h4>Legend</h4>
        <p><div style="width: 10px; height: 10px; background-color:red"></div> Positive</p>
    <p><div style="width: 10px; height: 10px; background-color:blue"></div> Negative</p>
    <p><div style="width: 10px; height: 10px; background-color:yellow"></div> Neutral</p>
</div>
<div ng-bind="json_test" id="aaa"></div>
<div id="lat_long"></div>

</div>

</body>

</div>
