.supersonic-navbar-mock {
  background-color: red !important;
  text-align: center;
  font-weight: 600;
}

hr {
    border: black solid 1px;
}

#LegendIcon {
    background-color:white;
    padding:5px;
    width:80px; 
    border:blue solid 2px; 
    margin:2px;
}
