<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="tweet['latitude']"></h2>
      
      
      
       <p>longitude: <span ng-bind="tweet['longitude']"></span></p> 
      
       <p>sentiment: <span ng-bind="tweet['sentiment']"></span></p> 
      
       <p>time: <span ng-bind="tweet['time']"></span></p> 
      
       <p>city: <span ng-bind="tweet['city']"></span></p> 
      
       <p>state: <span ng-bind="tweet['state']"></span></p> 
      


      <super-modal-show location="tweet#edit?id={{ tweet.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(tweet.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
